<div class="business">
  <div class='container business__container'>
    <div class="business__title">Исследуем <span>бизнес</span></div>
    <div class="business__body">
      <div class="business__item">
        <p class="business__item-text">Каждый клиент – своя история. Мы не берем шаблонные решения, а исследуем рынок
          конкретно под ваши цели и задачи.</p>
        <p class="business__item-text">Сделать интернет-магазин с нуля непросто. Нужен сайт с качественной разработкой
          дизайна, который не будет отвлекать от
          сути, наполнением и рабочими модулями. Кроме этого, для успешного запуска электронной торговой площадки
          владельцу
          бизнеса требуется найти поставщиков, выбрать товарные позиции, просчитать рентабельность, уладить другие
          организационные
          вопросы вне сети.</p>
        <p class="business__item-text">
          Создание интернет-магазина лучше делегировать на профессионалов. Мы возьмем на себя вопросы по разработке
          интернет-магазина под ключ. Специалисты компании предоставляют заказчику готовый продающий сайт. Он уже
          наполнен
          контентом, ориентирован на конечного потребителя и интуитивно понятен для заказчика.</p>
      </div>
      <div class="business__img">
        <img src="img/business-img.png" alt="business img">
      </div>
    </div>
  </div>
</div>