<div class="intro">
  <div class='container intro__container'>
    <div class="intro__content">
      <h1 class="intro__title">Разработка интернет-магазинов <span>на 1C-Битрикс</span></h1>
      <p class="intro__text">
        Разработаем интернет-магазин за 30 дней с уникальным дизайном и продуманной структурой который <span>выделит вас
          на
          фоне конкурентов</span>
      </p>
      <button class="intro__btn">Узнать стоимость</button>
      <div class="intro__descr"> <span>
          Оставьте заявку и получите бесплатную консультацию от специалиста, полный расчет
          стоимости разработки и бонус:
        </span> «15 сервисов, которые покажут стратегию продвижения конкурентов, всё об их выдаче
        в поиске и не только»</div>
    </div>
    <a class="down" href="#">
      <svg class='down-icon icon-svg'>
        <use xlink:href='img/icons/icons.svg#down-arrow'></use>
      </svg>
    </a>
  </div>
</div>