<div class="sertif">
  <div class='container sertif__container'>
    <div class="sertif__body">
      <div class="sertif__col">
        <img src="img/sertif1.png" alt="1">
      </div>
      <div class="sertif__col sertif__col--block">
        <h3 class="sertif__col-title">Сертификат</h3>
        <p class="sertif__col-descr">Золотой сертифицированный партнер битрикс</p>
        <img class="sertif__col-img" src="img/sertif2.png" alt="2">
      </div>
      <div class="sertif__col sertif__col--block">
        <h3 class="sertif__col-title">Сертификат</h3>
        <p class="sertif__col-descr">Прграммы мониторинга качества внедрений</p>
        <img class="sertif__col-img" src="img/sertif3.png" alt="2">
      </div>
    </div>
  </div>
</div>