<section class="stage">
  <div class="stage__container container">
    <h3 class="stage__title">Этапы</h3>
    <div class="stage__body">
      <div class="stage__scroll-block scroll-block">
        <svg width="23" height="378" viewBox="0 0 23 378" fill="none" xmlns="http://www.w3.org/2000/svg">
          <line x1="11.5" y1="4" x2="11.5" y2="367" stroke="#BDBDBD" stroke-width="5"/>
          <line x1="11.5" y1="4" x2="11.5" y2="17" stroke="#6B5AF9" stroke-width="5"/>
          <circle cx="11.5" cy="11.5" r="11.5" fill="#6B5AF9"/>
          <circle cx="11.5" cy="82.5" r="11.5" fill="#BDBDBD"/>
          <circle cx="11.5" cy="153.5" r="11.5" fill="#BDBDBD"/>
          <circle cx="11.5" cy="224.5" r="11.5" fill="#BDBDBD"/>
          <circle cx="11.5" cy="295.5" r="11.5" fill="#BDBDBD"/>
          <circle cx="11.5" cy="366.5" r="11.5" fill="#BDBDBD"/>
          </svg>
          
        <ul class="scroll-block__list">
          <li class="scroll-block__item">
            <a href="#" class="scroll-block__link">01. Маркетинговый анализ бизнеса</a>
          </li>
          <li class="scroll-block__item">
            <a href="#" class="scroll-block__link">02. Привлекательный дизайн</a>
          </li>
          <li class="scroll-block__item">
            <a href="#" class="scroll-block__link">03. Профессиональная верстка</a>
          </li>
          <li class="scroll-block__item">
            <a href="#" class="scroll-block__link">04. «Посадка» на CMS</a>
          </li>
          <li class="scroll-block__item">
            <a href="#" class="scroll-block__link">05. Тестирование и доработка</a>
          </li>
          <li class="scroll-block__item">
            <a href="#" class="scroll-block__link">06. Запуск сайта</a>
          </li>
        </ul>
      </div>
      <div class="stage__col">
        <div class="stage__item">
          <div class="stage__item-top">
            <div class="stage__item-number">1</div>
            <h2 class="stage__item-title">Маркетинговый анализ бизнеса</h2>
          </div>
          <div class="stage__item-content">
            <p class="stage__item-text">На предварительном этапе мы выясняем специфику вашего бизнеса, товаров. Отмечаем ваши преимущества и уникальные предложения, изучаем ожидания и потребности целевой аудитории, рассматриваем ближайшее конкурентное окружение.</p>
            <p class="stage__item-text">На основании полученных данных мы разрабатываем прототип интернет-магазина, пишем техническое ТЗ для специалистов, готовим рекомендации по текстовому наполнению с учетом требований SEO, разрабатываем план по внешней и внутренней оптимизации сайта. Также мы создаем набор готовых элементов для пользовательского интерфейса.</p>
          </div>
          <div class="stage__item-img">
            <img src="img/stage-1.jpg" alt="stage 1">
          </div>
        </div>
        <div class="stage__item">
          <div class="stage__item-top">
            <div class="stage__item-number">2</div>
            <h2 class="stage__item-title">Привлекательный дизайн</h2>
          </div>
          <div class="stage__item-content">
            <p class="stage__item-text">Интерфейс сайта будет соответствовать современным требованиям и отвечать ожиданиям целевой аудитории. Опытные специалисты Millenium создадут UX-дизайн, отталкиваясь от данных анализа пользовательского поведения, что позволит в несколько раз увеличить конверсию.</p>
            <p class="stage__item-text">Мы подберем оптимальные цветовые сочетания (основной, дополнительные, акцентные цвета), уделим внимание четкости графики, наглядности интерфейса, понятной и лаконичной визуализации.</p>
          </div>
          <div class="stage__item-img">
            <img src="img/stage-2.jpg" alt="stage 2">
          </div>
        </div>
        <div class="stage__item">
          <div class="stage__item-top">
            <div class="stage__item-number">3</div>
            <h2 class="stage__item-title">Профессиональная верстка</h2>
          </div>
          <div class="stage__item-content">
            <p class="stage__item-text">Мы производим верстку по стандарту Pixel Perfect, который предполагает точное соответствие сверстанных страниц дизайн-макету. Наши специалисты напишут чистый код с двухфакторной проверкой, позволяющий обеспечить высокую скорость загрузки на любых браузерах и электронных устройствах (десктопных и мобильных).</p>
            <p class="stage__item-text">Профессиональная адаптивная верстка является важным условием бесперебойной надежной работы сайта на протяжении длительного времени. </p>
          </div>
          <div class="stage__item-img">
            <img src="img/stage-1.jpg" alt="stage 1">
          </div>
        </div>
        <div class="stage__item">
          <div class="stage__item-top">
            <div class="stage__item-number">1</div>
            <h2 class="stage__item-title">Маркетинговый анализ бизнеса</h2>
          </div>
          <div class="stage__item-content">
            <p class="stage__item-text">На предварительном этапе мы выясняем специфику вашего бизнеса, товаров. Отмечаем ваши преимущества и уникальные предложения, изучаем ожидания и потребности целевой аудитории, рассматриваем ближайшее конкурентное окружение.</p>
            <p class="stage__item-text">На основании полученных данных мы разрабатываем прототип интернет-магазина, пишем техническое ТЗ для специалистов, готовим рекомендации по текстовому наполнению с учетом требований SEO, разрабатываем план по внешней и внутренней оптимизации сайта. Также мы создаем набор готовых элементов для пользовательского интерфейса.</p>
          </div>
          <div class="stage__item-img">
            <img src="img/stage-1.jpg" alt="stage 1">
          </div>
        </div>
        <div class="stage__item">
          <div class="stage__item-top">
            <div class="stage__item-number">1</div>
            <h2 class="stage__item-title">Маркетинговый анализ бизнеса</h2>
          </div>
          <div class="stage__item-content">
            <p class="stage__item-text">На предварительном этапе мы выясняем специфику вашего бизнеса, товаров. Отмечаем ваши преимущества и уникальные предложения, изучаем ожидания и потребности целевой аудитории, рассматриваем ближайшее конкурентное окружение.</p>
            <p class="stage__item-text">На основании полученных данных мы разрабатываем прототип интернет-магазина, пишем техническое ТЗ для специалистов, готовим рекомендации по текстовому наполнению с учетом требований SEO, разрабатываем план по внешней и внутренней оптимизации сайта. Также мы создаем набор готовых элементов для пользовательского интерфейса.</p>
          </div>
          <div class="stage__item-img">
            <img src="img/stage-1.jpg" alt="stage 1">
          </div>
        </div>
        <div class="stage__item">
          <div class="stage__item-top">
            <div class="stage__item-number">1</div>
            <h2 class="stage__item-title">Маркетинговый анализ бизнеса</h2>
          </div>
          <div class="stage__item-content">
            <p class="stage__item-text">На предварительном этапе мы выясняем специфику вашего бизнеса, товаров. Отмечаем ваши преимущества и уникальные предложения, изучаем ожидания и потребности целевой аудитории, рассматриваем ближайшее конкурентное окружение.</p>
            <p class="stage__item-text">На основании полученных данных мы разрабатываем прототип интернет-магазина, пишем техническое ТЗ для специалистов, готовим рекомендации по текстовому наполнению с учетом требований SEO, разрабатываем план по внешней и внутренней оптимизации сайта. Также мы создаем набор готовых элементов для пользовательского интерфейса.</p>
          </div>
          <div class="stage__item-img">
            <img src="img/stage-1.jpg" alt="stage 1">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>