<section class="work">
  <div class='container work__container'>
    <h3 class="work__title title">Что вы <span>получаете?</span></h3>
    <div class="work__row">
      <div class="work__img">
        <img src="img/work-1.png" alt="work 1">
      </div>
      <div class="work__item">
        <h4 class="work__item-title">Каталог товаров</h4>
        <ul class='work__item-list'>
          <li class='work__item-text'>возможность выгружать свои товары в неограниченном количестве </li>
          <li class='work__item-text'>добавлять и редактировать описание товаров</li>
          <li class='work__item-text'>сортировать товары по заданным критериям</li>
          <li class='work__item-text'>моментальная оплата товара или оформление при помощи добавления корзины</li>
        </ul>
      </div>
      <div class="work__img">
        <img src="img/work-2.png" alt="work 2">
      </div>
      <div class="work__item">
        <h4 class="work__item-title">Оформление заказа</h4>
        <ul class='work__item-list'>
          <li class='work__item-text'>личный кабинет</li>
          <li class='work__item-text'>корзина с отображением выбранных товаров</li>
          <li class='work__item-text'>оформление заказа с указанием контактных данных</li>
          <li class='work__item-text'>возможность приема онлайн-платежей</li>
          <li class='work__item-text'>использование купонов, скидок и специальных предложений</li>
        </ul>
      </div>
      <div class="work__img">
        <img src="img/work-3.png" alt="work 3">
      </div>
      <div class="work__item">
        <h4 class="work__item-title">Интеграции</h4>
        <ul class='work__item-list'>
          <li class='work__item-text'>1С, Мой склад (выгрузка товаров на сайт, полная синхронизация)</li>
          <li class='work__item-text'>Маркетплейсы (Яндекс.Маркет, Wildberries, Goods, Ozon)</li>
          <li class='work__item-text'>Интеграция со службами доставки СДЭК, Почта России</li>
        </ul>
      </div>
      <div class="work__img">
        <img src="img/work-4.png" alt="work 4">
      </div>
      <div class="work__item">
        <h4 class="work__item-title">CRM</h4>
        <ul class='work__item-list'>
          <li class='work__item-text'>фиксация и отслеживание поступивших заявок</li>
          <li class='work__item-text'>уведомления о заказах</li>
          <li class='work__item-text'>отчетность магазина</li>
        </ul>
      </div>
    </div>
    <button class="work__btn btn--center">Узнать стоимость</button>
  </div>
</section>